<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.gini.android.vision.test">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18"/>\

    <application>
        <activity
            android:name=".ReviewActivitySubclass"
            android:theme="@style/GiniVisionTheme"
            android:label="@string/gv_title_review" />
        <activity
            android:name=".AnalysisActivitySubclass"
            android:theme="@style/GiniVisionTheme"
            android:label="@string/gv_title_analysis" />
    </application>

</manifest>