<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.gini.android.vision.test">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18" />\

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:largeHeap="true">
        <activity
            android:name="net.gini.android.vision.review.ReviewActivityTestStub"
            android:label="@string/gv_title_review"
            android:theme="@style/GiniVisionTheme" />
        <activity
            android:name="net.gini.android.vision.analysis.AnalysisActivityTestStub"
            android:label="@string/gv_title_analysis"
            android:theme="@style/GiniVisionTheme" />
        <activity
            android:name="net.gini.android.vision.internal.ui.ErrorSnackbarTestActivity"
            android:theme="@style/GiniVisionTheme" />
    </application>

</manifest>