# Based on: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

# Mac:
.DS_Store

# Build:
build/

# Gradle:
.gradle/

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/saveactions_settings.xml
local.properties

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
**/*.iml

# IDEA project files that keep changing:
.idea/misc.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Android Debugging:
/captures

# Project Specific AVDs
/avd