# Based on: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

# Mac:
.DS_Store

# Build:
build/

# Gradle:
.gradle/

# Share codestyle across team
!.idea/codeStyles

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/saveactions_settings.xml
local.properties
checkstyle-idea.xml
.idea/caches
.idea/render.experimental.xml
.idea/assetWizardSettings.xml

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
**/*.iml

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
*.iml
*.ipr

# IDEA project files that keep changing:
.idea/misc.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Version control
vcs.xml

# Android Debugging:
/captures

# Project Specific AVDs
/avd

# Visual Studio Code
.vscode
