<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gini.android.vision.screen">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="true" />

    <application
        android:name=".ScreenApiExampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name="net.gini.android.vision.screen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity android:name="net.gini.android.vision.screen.CameraScreenApiActivity"
            android:label="@string/gv_title_camera"
            android:theme="@style/GiniVisionTheme"/>
        <activity
            android:name="net.gini.android.vision.screen.ReviewActivity"
            android:label="@string/gv_title_review"
            android:theme="@style/GiniVisionTheme" />
        <activity
            android:name="net.gini.android.vision.screen.AnalysisActivity"
            android:theme="@style/GiniVisionTheme" />
        <activity
            android:name="net.gini.android.vision.screen.ExtractionsActivity"
            android:label="@string/title_extractions" />
        <activity
            android:name="net.gini.android.vision.screen.NoExtractionsActivity"
            android:label="@string/title_no_extractions"/>
    </application>

</manifest>