<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gini.android.vision">

    <application>
        <activity
            android:name=".camera.CameraActivity"
            android:exported="false"
            android:label="@string/gv_title_camera"
            android:theme="@style/GiniVisionTheme" />
        <activity
            android:name=".noresults.NoResultsActivity"
            android:exported="false"
            android:theme="@style/GiniVisionTheme" />
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="false"
            android:label="@string/gv_title_onboarding"
            android:theme="@style/GiniVisionTheme.Transparent" />
        <activity
            android:name=".internal.fileimport.FileChooserActivity"
            android:exported="false"
            android:theme="@style/GiniVisionTheme.Chooser" />
        <activity
            android:name=".help.HelpActivity"
            android:exported="false"
            android:label="@string/gv_title_help"
            android:theme="@style/GiniVisionTheme" />
    </application>

</manifest>