<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gini.android.vision">

    <application>
        <activity
            android:name=".scanner.ScannerActivity"
            android:exported="false"
            android:label="@string/gv_title_scanner"
            android:screenOrientation="portrait"
            android:theme="@style/GiniVisionTheme" />
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="false"
            android:label="@string/gv_title_onboarding"
            android:screenOrientation="portrait"
            android:theme="@style/GiniVisionTheme.Transparent" />
    </application>

</manifest>