<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gini.android.vision">

    <application>
        <activity
            android:name=".camera.CameraActivity"
            android:exported="false"
            android:label="@string/gv_title_camera"
            android:theme="@style/GiniVisionTheme" />
        <activity
            android:name=".review.ReviewActivity"
            android:exported="false"
            android:label="@string/gv_title_review"
            android:theme="@style/GiniVisionTheme" />
        <activity
            android:name=".analysis.AnalysisActivity"
            android:exported="false"
            android:label="@string/gv_title_analysis"
            android:theme="@style/GiniVisionTheme" />
        <activity
            android:name=".noresults.NoResultsActivity"
            android:exported="false"
            android:theme="@style/GiniVisionTheme" />
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="false"
            android:label="@string/gv_title_onboarding"
            android:theme="@style/GiniVisionTheme.Transparent" />
        <activity
            android:name=".internal.fileimport.FileChooserActivity"
            android:exported="false"
            android:theme="@style/GiniVisionTheme.Chooser" />
        <activity
            android:name=".help.HelpActivity"
            android:exported="false"
            android:label="@string/gv_title_help"
            android:theme="@style/GiniVisionTheme" />
        <activity
            android:name=".help.PhotoTipsActivity"
            android:exported="false"
            android:label="@string/gv_title_photo_tips"
            android:theme="@style/GiniVisionTheme" />
        <activity
            android:name=".help.SupportedFormatsActivity"
            android:exported="false"
            android:label="@string/gv_title_supported_formats"
            android:theme="@style/GiniVisionTheme" />
        <activity
            android:name=".help.FileImportActivity"
            android:exported="false"
            android:label="@string/gv_title_file_import"
            android:theme="@style/GiniVisionTheme" />
        <activity
            android:name=".review.multipage.MultiPageReviewActivity"
            android:exported="false"
            android:label="@string/gv_title_multi_page_review"
            android:theme="@style/GiniVisionTheme" />



        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>