<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gini.android.visionadvtest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="true" />

    <application
        android:name="net.gini.android.vision.component.ComponentApiApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name="net.gini.android.vision.component.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.gini.android.vision.component.GiniVisionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.gini.android.vision.component.GiniVisionAppCompatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCompat" />
        <activity
            android:name="net.gini.android.vision.component.ExtractionsActivity"
            android:label="@string/title_extractions"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCompat" />
        <activity
            android:name="net.gini.android.vision.component.NoExtractionsActivity"
            android:label="@string/title_no_extractions"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCompat" />
    </application>

</manifest>